*{
	margin: 0;padding: 0;
}
.clear:after{
	content: ",";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: #323232;
}
li{
	text-decoration: none;
	list-style: none;
}
.left{
	float: left;
}
.right{
	float:right;
}
img{
	vertical-align: top;
}




.header_right>li{
	display: inline-block;
	line-height: 80px;
	margin: 0 25px;
	text-align: center;
}
.header_right li:last-child{
	margin: 0 0 0 25px;
}
.header_right>li a{
	padding-bottom: 6px;
}
.header_right>li a:hover{
	border-bottom: 2px solid #fc7863;
}
.bodyer1{
	position: relative;
}
.bodyer1 button{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 1px solid #333;
	font-size: 20px;
	outline: none;
}
.bodyer1 button:hover{
	background:#999;
}
.bodyer1 button:nth-of-type(1){
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -40px;
}
.bodyer1 button:nth-of-type(2){
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -40px;
}
.bodyer1 img{
	width: 100%;
}
.bodyer2 .w1200{
	padding-bottom: 4px;
	border-bottom:1px solid #666;
	font-size: 14px;
	margin-top: 40px;
	position: relative;
}
.bodyer2 .w1200 span{
	color: #fd846f;
}
.bodyer2 .ze{
	height: 5px;
	width: 100px;
	background: #fff;
	position: absolute;
	top:20px;
}
.bodyer3_top{
	position: relative;
}
.bodyer3_top div:first-child{
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	height: 22px;
	width: 32px;
	position: absolute;
	top: 10px;
}
.bodyer3_top div:nth-of-type(2){
	font-size: 22px;
	padding: 0 20px;
	cursor: pointer;
}
.bodyer3_top div:last-child{
	border-top: 1px solid #666;
	border-right: 1px solid #666;
	height: 22px;
	width: 32px;
	position: absolute;
	right: -4px;
	top: -1px;
}
.bodyer3_left ul{
	margin-left: 20px;
	margin-top: 4px;
	height: 0;
	overflow: hidden;
	transition: all 0.2s;
}
.bodyer3_left ul li{
	cursor: pointer;
}
.bodyer3_left ul li:hover{
	color:#fd846f;
}
.bodyer3_right div:first-child{
	font-size: 22px;
	width: 400px;
	text-align: center;
	padding-bottom: 14px;
	border-bottom: 1px solid #999;
	margin: 48px auto;
	margin-top: 60px;
}
.bodyer3_right{
	width: 1016px;
	display: none;
}
.bodyer3 .bodyer3_right:nth-of-type(2){
	display: block;
}
.bodyer3_right1 p{
	color: #818181;
	margin-bottom: 32px;
	text-align: justify;
	line-height: 26px;
}
.bodyer3_right3{
	margin-top: 76px;
	margin-bottom: 30px;
	
}

.bodyer3_right3 hr{
	display: inline-block;
	border: 0;
	border: 0.5px solid #666;
	width: 996px;
	margin-bottom: 10px;
}
.bodyer3 .w1200{
	position: relative;
	height: 2300px;
}
.bodyer3_right{
	position: absolute;
	right: 0;
	
}

.footer{
	background: #666;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: #fff;
	font-size: 14px;
	margin-top: 54px;
}